body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	width: 100%; height:100%;margin:0px;padding:0px; overflow-x: hidden;
}
header{	
	background-color: black;
	color: white;
}
.body main{
	background-color: rgba(4, 7, 17, 0.904) !important;
}
.website-header{
	padding: 25px;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
}
.website-header img{
	float: left;
	width: 75px;
	height:75px;	
	margin: 0 30px;
}
.website-header h1{
	position: relative;
	margin-bottom: 2%;
    left:40%;
	
}
.website-header  a:link{
	margin: auto 0;
    text-decoration: none;
}
.social-icons{
	text-align: right;
	flex-grow: 1;
}
.social-icons i{
	margin: 0 7px;
	cursor: pointer;
}
nav{
	background-color: black;
	height: 50px;
	margin-bottom: 20px;
}
nav ul{
	margin: 20px 0 0 0;
}
.navbar-nav li{
	list-style: none;
	display: inline-block;
	padding: 5px 71px;
}
.navbar-nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}
.navbar-nav li a:hover{
	color:#e08b6c;
}
.sec1{
    display:flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    height: 67%;
    width: 90%;
    left: 4%;
    top: 22%;
    background-image: url("giphy.gif");
    margin: 0%;
    background-size: cover;
    perspective: 400px;
    
}

.mst{
    position:relative;
    width: 70%;
    height:100%;
    transform-style: preserve-3d;

}

.mst > section{
    position: absolute;
    margin: 0%;
    left:30%;  
    top:1.2%;  
    transition: transform 0.5s ease;
    background-color: rgb(36, 34, 34);
    
}


.mst #s1{
    position: absolute;
    top: 97%;
    left: 44%;
}
.mst #s2{
    position: absolute;
    top: 97%;
    left:48%;
}
.mst #s3{
    position: absolute;
    top: 97%;
    left:52%;
}
.mst #s4{
    position: absolute;
    top: 97%;
    left:56%;
}
.mst #s5{
    position: absolute;
    top: 97%;
    left: 60%;
}

.card > img{
    height: 55%;
}

.mst > .card > .card-body > h4,p{
    color: seashell;
}


#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 4px 10px 1px rgba(0,0,0,.3),-4px 0px 20px 1px rgba(0,0,0,.3);
  transform: translate3d(-56%,0,-340px) scale3d(1, 1, 1.8) rotate3d(0, 1, 0, 60deg);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 7px 10px 1px rgba(0,0,0,.3),-5px 0px 20px 1px rgba(0,0,0,.3);
  transform: translate3d(-28%,0,-170px) scale3d(1, 1, 1.4) rotate3d(0, 1, 0, 40deg);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 10px 20px 1.2px rgba(0,0,0,.3),6px 0px 20px 1.5px rgba(0,0,0,.3),-6px 0px 20px 1.5px rgba(0,0,0,.3);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 7px 10px 1px rgba(0,0,0,.3), 5px 0px 20px 1px rgba(0,0,0,.3);
  transform: translate3d(28%,0,-170px) scale3d(1, 1, 1.4) rotate3d(0, 1, 0, -40deg);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 4px 10px 1px rgba(0,0,0,.3),4px 0px 20px 1px rgba(0,0,0,.3);
  transform: translate3d(56%,0,-340px) scale3d(1, 1, 1.8) rotate3d(0, 1, 0, -60deg);
}
 
.sec2{
    position: absolute;
    top:92%;
    left:4%;
    width:90%;
    height:100%;
    margin-top:1%;
}

.insec2{
    display: flex;
    margin-left: 1%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sec2 > h3{
    font-weight: 900;
}

form {
    position: relative;
    left: 82%;
    bottom: 3.8%;
}

form > button{
    padding: 10px 17px;
    font-size:17px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #f34747;
    border: none;
    border-radius: 50px;
    box-shadow: 0 6px rgb(138, 137, 137);
}
  
form > button:hover {background-color:#f12b2b}
  
form > button:active {
    background-color: #f12b2b;
    box-shadow: 0 2.5px rgb(97, 96, 96);
    transform: translateY(4px);
}

.insec2 > div {
    margin-top: 2%;
    background-color: rgb(36, 34, 34);
}

.insec2 > div > .card-body > h5 ,p{
    color: seashell;
}

.insec2 > div >img{
    height: 44%;
}

.rw{
    position: relative;
    margin-top: 3%;
    background-color: rgb(36, 34, 34);
    width: 70%;
    left:15%;
}

.rw img{
    width: 100%;
}

.rw > h5{
    color:  seashell;
    font-weight: 800;
}
 .rw> p> a{
     margin-left: 48%;
 }
 .insec2 > div > .card-body > a:link, a:visited {
    background-color: rgb(36, 34, 34);
    color: seashell;
    border: 2px solid rgb(233, 5, 5);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .insec2 > div > .card-body > a:hover, a:active {
    background-color: rgb(233, 5, 5);
    color: white;
  }