<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'index_style.css' %}">
</head>

<body>
    <header>
        <div class="website-header">
                {% if user.is_authenticated %}
                <i>{{name}} is logged in.</i>
                <i><a href="logout">Log Out</a></i>
                {% else %}
                <i><a href="login">Login</a></i>
                <i><a href="register">Sign Up</a></i>
                {% endif %}
            </div>
        </div>
        <nav class="navbar navbar-expand-md ">


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index">STORIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ENTERTAINMENT</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="business">BUSINESS</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="travel">TRAVEL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TECHNOLOGY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SPORTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="natural">ANALYSIS</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="breaking-news-section">
            <span id="btext">Top Headlines</span>
            <marquee direction="left" onmouseover="this.stop()" onmouseout="this.start()">
                <a href="#" class="breaking-news">
                    <p class="bntime">4 Mar 2021</p>
                    Nifty close to record breaking levels
                </a>
                <a href="#" class="breaking-news">
                    <p class="bntime">4 Mar 2021</p>Airtel tests 5g network in heyderabad
                </a>
                <a href="#" class="breaking-news">
                    <p class="bntime">4 Mar 2021</p>Rakesh Tikait to hold the protest until next week
                </a>
            </marquee>
        </div>
    </header>
    <main>
        <article id="popular-news">
            <div id="featured">
                <h2>FEATURED STORIES</h2>
                <section class="popular-news-carousel">
                    <div id="carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'index_1.jpg' %}" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Ancient Indian inventions that will surprise you</h5>
                                    <p>04th Feb 2021</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'index_2.jfif' %}" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Quick and healthy breakfast for busy families</h5>
                                    <p>04th Feb 2021</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'index_3.jfif' %}" alt="Third slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>2021 Golden globe nominations are out</h5>
                                    <p>04th Feb 2021</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </section>

            </div>
            <div id="latest">
                <h2>LATEST</h2>
                <section class="news">
                    <div class="news-container">
                        <img src="{% static 'index_4.jpg' %}">
                        <p class="carousel-text">Bezos is done as Amazon CEO</p>
                    </div>
                </section>
                <section class="news">
                    <div class="news-container">
                        <img src="{% static 'index_5.jpg' %}">
                        <p class="carousel-text">SpaceX's Starship prototype exploded upon landing</p>
                    </div>
                </section>
            </div>
            <div id="our-picks">
                <h2>OUR PICKS</h2>
                <section class="news">
                    <div class="news-container">
                        <img src="{% static 'index_6.jpg' %}">
                        <p class="carousel-text">Have given response to china : MEA</p>
                    </div>
                </section>
                <section class="news">
                    <div class="news-container">
                        <img src="{% static 'index_7.png' %}">
                        <p class="carousel-text">Budget 2021 : Guide to saving taxes</p>
                    </div>
                </section>
            </div>
        </article>
        <section class="more-news">
            <div class="news-section">
                <article class="world">
                    <h2>WORLD</h2>
                    <img src="{% static 'index_8.jpg' %}">
                    <h3>Microsoft: SolarWinds attack took more than 1,000 engineers to create</h3>
                    <p>The months-long hacking campaign that affected US government agencies and cybersecurity vendors
                        was "the largest and most sophisticated attack the world has ever seen," Microsoft president
                        Brad Smith has said, and involved a vast number of developers.[..]</p>
                </article>
                <article class="sport">
                    <h2>SPORT</h2>
                    <img src="{% static 'index_9.jpg' %}">
                    <h3>Jaxson Moi, cousin of Jonah Moi, looking at Oregon Ducks</h3>
                    <p>The No. 2 strongside defensive end on the West Coast is considering the Oregon Ducks[...]</p>
                </article>
            </div>

            <aside>
                <h4>RECENT</h4>
                <div class="recent-news">
                    <img src="{% static 'index_10.jpg' %}">
                    <p>Tesla's $25,000 Model 2 electric car rendered</p>
                </div>
                <div class="recent-news">
                    <img src="{% static 'index_11.jpg' %}">
                    <p>The hypercar maker who was told to give up his dream</p>
                </div>
                <div class="recent-news">
                    <img src="{% static 'index_12.jpg' %}">
                    <p>Scientists Accidentally Discover Strange Creatures Under a Half Mile of Ice</p>
                </div>
                <div class="recent-news">
                    <img src="{% static 'index_13.jpg' %}">
                    <p>Claim for giant 'Planet Nine' at Solar System's edge takes a hit</p>
                </div>
                <div class="recent-news">
                    <img src="{% static 'index_14.jpg' %}">
                    <p>Activists fear Biden is undermining efforts for a higher minimum wage</p>
                </div>
            </aside>
        </section>
    </main>
    <footer>
        <div class="social-links">
            <section class="about">
                <h2>About</h2>
                <p>The Horizon - Latest news, tech updates and much more. Follow us on these social links</p>
                <div class="social-icons-footer">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-google-plus-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fas fa-rss-square"></i>
                    <i class="fab fa-youtube-square"></i>
                    <i class="fas fa-rss-square"></i>
                    <i class="fab fa-pinterest-square"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </section>
            <section class="Instagram">
                <h2>Follow us on Instagram</h2>
                <button type="button" class="footer-buttons">Check and share our page on Instagram</button>
            </section>
            <section class="Subscribe">
                <h2>Subscribe to News Today</h2>
                <p>Enter your email address to subscribe to us and receive notifications on email</p>
                <input type="email" placeholder="Email Address">
                <button type="button" class="footer-buttons">Subscribe</button>
            </section>
        </div>

        <div class="copyright">Copyright © 2021 The Horizon. All Rights Reserved.</div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
