<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../OneHorizon/css/business_style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>OneHorizon</title>
</head>

<body>
    <header>
        <div class="website-header">
            <h1><a href="index.html">OneHorizon</a></h1>
            <div class="social-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
                <i class="fas fa-rss"></i>
            </div>
        </div>
        <nav class="navbar navbar-expand-md ">

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">STORIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ENTERTAINMENT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="business.html">BUSINESS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="travel.html">TRAVEL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TECHNOLOGY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SPORTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nw_test2.html">AUTOMOBILES</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js"
                async>
                    {
                        "symbols": [
                            {
                                "description": "USD/JPY",
                                "proName": "OANDA:USDJPY"
                            },
                            {
                                "description": "USD/CAD",
                                "proName": "OANDA:USDCAD"
                            },
                            {
                                "description": "USD/INR",
                                "proName": "FX_IDC:USDINR"
                            },
                            {
                                "description": "",
                                "proName": "FX_IDC:CADINR"
                            },
                            {
                                "description": "CHF/INR",
                                "proName": "FX_IDC:CHFINR"
                            },
                            {
                                "description": "INR/JPY",
                                "proName": "FX_IDC:INRJPY"
                            },
                            {
                                "description": "INR/Dirham",
                                "proName": "FX_IDC:INRAED"
                            },
                            {
                                "description": "INR/GBP",
                                "proName": "FX_IDC:INRGBP"
                            },
                            {
                                "description": "INR/EUR",
                                "proName": "INR/OANDA:EURUSD"
                            }
                        ],
                            "colorTheme": "dark",
                                "isTransparent": false,
                                    "showSymbolLogo": true,
                                        "locale": "in"
                    }
                </script>
        </div>
        <!-- TradingView Widget END -->
    </header>
    <main>
        <br>
        <br>
        <h2> Tour of the day </h2>
        <br>
        <audio-tours uuid="b741b0e3-c2ca-4134-b801-c281f2cc54a5" background="#ffffff" languages-show="true"
            button1-color="#0e5671" button2-color="#0e5671" button1-text-color="#FFF" button2-text-color="#000"
            button2-text-active-color="#FFF" polyline-color="#0e5671" description-weight="normal"
            description-color="#000000" description-font="Proxima-light" description-size="16" description-show="true"
            images-first="1" images-layout="horizontal" images-show="true" image-width="50" map-show="true"
            title-size="32" title-weight="normal" title-color="#000000" title-font="SkolarPEWeb-Regular"
            widget-width="false" language="en"></audio-tours>
        <br>
        <h2>Travel News</h2>
        <br>

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="../OneHorizon/assets/i1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Majority of Indians comfortable booking for future travel, survey</h5>
                    <p class="card-text">While Indians wait to get inoculated, a survey by online travel agent
                        MakeMyTrip indicates that over 88% of users are now comfortable with booking flights and hotels
                        for future dates.

                        Titled ‘How India will travel once vaccinated’, the online survey conducted among 2,000
                        respondents in January said that more than 65% of travellers are actively searching and planning
                        a vacation within the next two months.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 1 min ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../OneHorizon/assets/calc1.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">The DiscoverEU programme is back with even more free rail passes</h5>
                    <p class="card-text">Good news for travellers. The European Union plans to relaunch the DiscoverEU
                        programme, whereby 60000 young people now have the opportunity to explore Europe. How? You ask?
                        According to the programme, 18-year olds will be handed free interrail passes so that
                        cross-border travel grows, and there is better intercultural unity.

                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 1 min ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../OneHorizon/assets/i2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Higher fares for short distance trains to discourage needless travel:
                        Railways</h5>
                    <p class="card-text">The ministry of railways on Wednesday clarified it has charged “slightly high
                        fares” to “discourage unnecessary travel” in short distance passenger trains since they had
                        begun operation post-lockdown.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 1 min ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../OneHorizon/assets/index1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Planning to Travel to Maharashtra, Karnataka or Delhi? A Negative RT-PCR Test
                        is Now Mandatory</h5>
                    <p class="card-text">
                        Delhi has made it mandatory for travellers from five states, where Covid-19 cases are on a rise,
                        to carry a negative coronavirus test report upon arrival to the national capital from Friday,
                        February 26.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 1 min ago</small>
                </div>
            </div>

        </div>



    </main>
    <footer>
        <div class="social-links">
            <section class="about">
                <h2>About</h2>
                <p>The Horizon - Latest news, tech updates and much more. Follow us on these social links</p>
                <div class="social-icons-footer">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-google-plus-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fas fa-rss-square"></i>
                    <i class="fab fa-youtube-square"></i>
                    <i class="fas fa-rss-square"></i>
                    <i class="fab fa-pinterest-square"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </section>
            <section class="Instagram">
                <h2>Follow on Instagram</h2>
                <button type="button" class="footer-buttons">View on Instagram</button>
            </section>
            <section class="Subscribe">
                <h2>Subscribe to News Today</h2>
                <p>Enter your email address to subscribe to us and receive notifications on email</p>
                <input type="email" placeholder="Email Address">
                <button type="button" class="footer-buttons">Subscribe</button>
            </section>
        </div>

        <div class="copyright">Copyright © 2021 The Horizon. All Rights Reserved.</div>
    </footer>
    <script src="https://widget.izi.travel/api.js" charset="UTF-8" id="izi-travel-widget"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>